prefect >= 2.7
eicm @ git+https://github.com/fmi-faim/eicm@v0.1.2
tifffile
imagecodecs
faim_prefect @ git+https://github.com/fmi-faim/faim-prefect@v0.2.0
cpr @ git+https://github.com/fmi-faim/custom-prefect-result@v0.1.1